<div class="app-container">
  <h1>Sign Up Details</h1>

  <div class="form-container">
    <app-sign-up-form [formName]="formName" [currentSignUpDetails]="currentSignUpDetails" (submitEvent)="onSubmit($event)"></app-sign-up-form>
  </div>

  <div class="signup-details-list">
    <div class="signup-detail" *ngFor="let signupDetail of signUpDetailsList">
      <div class="details">
        <h2>{{ signupDetail.name }}</h2>
        <p>Email: {{ signupDetail.email }}</p>
        <p>Phone No: {{ signupDetail.phoneNo }}</p>
      </div>
      <div class="actions">
        <button (click)="onDelete(signupDetail.id)">Delete</button>
        <button (click)="onEdit(signupDetail)">Edit</button>
      </div>
    </div>
  </div>

 
</div>
